
body{
	font-family: 'Lora';
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Nunito';
}


/*
#landingSection{
    text-align: center;
    margin-top: 15%;
}
*/
.navbar.navbar-light{
    background-color: white;
}

.navbar-toggler{
	border:none;
	background: white;
} 

#landing-section {
	height: 35vh;
	display: flex;
    align-items: center;
/*	background: rgba(40,40,40,0.2);*/
}

#landing-myname{
	color: yellow;
	background: blue;
}


#landing-role{
/*	margin-top: 1em;*/
	background: green;
}

.swiper-container {
	margin-left: 1em;
	width: 100%;
	height: 44px;
}
	
.swiper-slide {
    
    font-family: 'Nunito';
	text-align: left;
	font-size: 40px;
/*	background: rgba(40,40,40,0.2);*/
	
	display: -webkit-box;
	display:-ms-flexbox;
	display: -webkit-flex;
	display: flex;
	
	-webkit-box-pack: start;
	-ms-flex-pack: flex-start;
	-webkit-justify-content: flex-start;
	justify-content: flex-start;
	
	-webkit-box-align: center;
	-ms-flex-align: center;
	-webkit-align-items: center;
	align-items: center;

}

#heading{
	width: auto;
}
