{% extends 'layout.html.twig' %}

{% block body %}

    {% if error %}
        <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}
<div class="margin-top-login"></div>
<div class="container">
    <div class="row login">   
      <div class="col s12 m6 offset-m3">
        <div class="card-panel login z-depth-4">
            <form action="{{ path('login') }}" method="post">
                <div class="center-align">
                    <span class="card-title"> {% trans %} login {% endtrans %} </span>
                </div>
                <div class="input-field">
                    <label for="username"> {% trans %} login-user {% endtrans %} </label>
                    <input type="text" id="username" name="_username" value="{{ last_username }}" />
                </div>
                <div class="input-field">   
                    <label for="password"> {% trans %} login-password {% endtrans %}</label>
                    <input type="password" id="password" name="_password" />
                </div>
                
                <input class="filled-in checkbox-gray" type="checkbox" id="remember_me" name="_remember_me" checked />
                <label for="remember_me">{% trans %} login-rememberme {% endtrans %}</label>

                {#
                    If you want to control the URL the user
                    is redirected to on success (more details below)
             
                    <input type="hidden" name="_target_path" value="/account" />
                #}
                <div class="right-align">
                    <button class="waves-effect waves-light btn blue darken-4" type="submit"> {% trans %} login-submit {% endtrans %}
                    <i class="material-icons right">send</i>
                    </button>
                </div>
            </form>
        </div>
      </div>
    </div>
</div>

{% endblock %}