<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
        {% block stylesheets %}{% endblock %}
        <title>{% block title %}Proyecto{% endblock %}</title>

    <link href="../../../Resources/assets/css/styles.css" rel="stylesheet"></head>
    <body>
        {% block body %}{% endblock %}
        {% block javascripts %}{% endblock %}
    <script type="text/javascript" src="../../../Resources/assets/js/manifest.914347a9db3c203933cf.js"></script><script type="text/javascript" src="../../../Resources/assets/js/vendor.b390f0dcd2c9ff9f2ae3.js"></script><script type="text/javascript" src="../../../Resources/assets/js/bundle.8dd1934f13ecb44cbbae.js"></script></body>
</html>
        