<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
        {% block stylesheets %}
            {# <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"> #}
            <link rel="stylesheet" href="{{ asset('build/global.css') }}">
        {% endblock %}
        <title>{% block title %}Proyecto{% endblock %}</title>
    </head>
    <body>
        {% block body %}{% endblock %}
        {% block javascripts %}
            <script src="{{ asset('build/app.js') }}"></script>
        {% endblock %}
    </body>
</html>
        