{% extends 'layout.html.twig' %}

{% block article %}

    {# <div class="container-frase-portada">
        <blockquote>
            <strong>Imagination</strong> is <em>more important</em> than <strong>knowledge</strong>
        </blockquote>
        <b>Einstein, A.</b>
    
    <h2> {% trans %}Welcome-message{% endtrans %}  </h2>

    <h3><a class="waves-effect waves-light btn blue darken-4" href="{{ path('login') }}">ingresar</a></h3>

    <h3><a class="waves-effect waves-light btn blue darken-4" href="{{ path('users_page') }}">AQUI Usuarios</a></h3>
    <h3><a class="waves-effect waves-light btn blue darken-4" href="{{ path('admin_page') }}">AQUI Administradores</a></h3>
    <h3><a class="waves-effect waves-light btn blue darken-4" href="{{ path('registration') }}">AQUI Registrarse</a></h3>

    </div> #}
<div class="stage">
  <div class="layer"></div>
  <div class="layer"></div>
  <div class="layer"></div>
  <div class="layer"></div>
  <div class="layer"></div>
  <div class="layer"></div>
  <div class="layer"></div>
  <div class="layer"></div>
  <div class="layer"></div>
  <div class="layer"></div>
  <div class="layer"></div>
  <div class="layer"></div>
  <div class="layer"></div>
  <div class="layer"></div>
  <div class="layer"></div>
  <div class="layer"></div>
  <div class="layer"></div>
  <div class="layer"></div>
  <div class="layer"></div>
  <div class="layer"></div>
</div>

{% endblock %}