@import '~material-design-icons/iconfont/material-icons';
@import '~materialize-css/sass/materialize.scss';

body {
	background:
	radial-gradient(black 15%, transparent 16%) 0 0,
	radial-gradient(black 15%, transparent 16%) 8px 8px,
	radial-gradient(rgba(255,255,255,.1) 15%, transparent 20%) 0 1px,
	radial-gradient(rgba(255,255,255,.1) 15%, transparent 20%) 8px 9px;
	background-color:#1f1f1f;
	background-size:16px 16px;

    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
	flex: 1 0 auto;
}

// .margin-top-login {
//     height: 2em;
// }

// .card-panel.login {
//     max-width: 350px;

//     button {
//         margin-top: 1em;
//     }
// }

// nav div ul:not(.browser-default) {
//     padding-right: 10px;
// }

// .checkbox-gray[type="checkbox"].filled-in:checked+label:after {
//     border: 2px solid #0d47a1;
//     background-color: #0d47a1;

// 

// MARGIN TOP FOOTER
.page-footer-top {
    padding-top: 0;
}

// MARGEN SUP LOGO MARIPOSA
.logo-margin{
	margin-top: 5px;
}
// REDIMENSIONA IMAGENES AUTOMATICAMENTE
.imagen-responsive {

	max-width: 100%;
    display: block;
    height: auto;
    margin: 10% 0;
    padding: 0 10%;
}