{% extends 'base.html.twig' %}

{% block body %}

	<h3>Hello World! default ingresar -> <a href="{{ path('users_page') }}">AQUI Usuarios</a></h3>
	<h3><a href="{{ path('admin_page') }}">AQUI Administradores</a></h3>
	<h3><a href="{{ path('registration') }}">AQUI Registrarse</a></h3>

{% endblock %}